.ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    padding-right: 1rem;
}

.li {
    list-style: none;
    background-color: white;
    color: goldenrod;
    box-shadow: rgba(50, 50, 93, 0.1) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.25) 0px 8px 16px -8px;
    border-radius: 8px;
}

.img {
    width: 150px;
    height: 150px;
}

.detailPrice {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;

    color: tomato;
}

.link {
    border: none;
    background-color: rgba(230, 238, 240, 0.948);
    color: tomato;
    border-radius: 5px;

    height: 30px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .2rem;
    padding-bottom: 0;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
}

.link:hover {
    background-color: transparent;
}

.addQuantity {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.addToCart {
    background-color: rgba(255, 99, 71, 0.841);
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: x-large;
    padding: .5rem;
    cursor: pointer;

    width: 50%;
}

.addToCart:hover {
    background-color: tomato; 
}

.items {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.quantity {
    background-color: rgba(218, 165, 32, 0.502);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: x-large;
    padding: .5rem;
}

.quantity:hover {
    background-color: goldenrod;
}

.span {
    font-size: 24px;
    font-weight: bold;
}

.details {
    width: 80%;
    padding: 3rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5rem;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
    gap: 1rem;



    background-color: white;
    color: goldenrod;
    box-shadow: rgba(50, 50, 93, 0.1) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.25) 0px 8px 16px -8px;
}

.h1 {
    color: tomato;
}

.h2 {
    color: tomato;
    font-size: 24px;
    font-weight: 700;
}

.descriptionText {
    word-wrap: break-word;
    max-width: 70%;
    text-align: left;
    font-size: 18px;
    color: rgb(97, 93, 93);
}

.detailImage {
    width: 50%;
    height: 400px;
    border-radius: 8px;
}

.rateCount {
    display: flex;
    gap: 2rem;
    font-size: 20px;
    color: goldenrod;
}

@media (max-width: 992px) {
    .ul {
        grid-template-columns: repeat(2, 1fr);
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .h1 {
        font-size: 20px;
    }

    .detailImage {
        height: 300px;
    }
}

@media (max-width: 768px) {
    .details {
        padding: 1rem;
    }

    .ul {
        grid-template-columns: repeat(1, 1fr);
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .h1 {
        width: 100%;
        font-size: 16px;
    }

    .detailImage {
        height: 250px;
    }

    .rateCount {
        font-size: 16px;
    }

    .descriptionText {
        max-width: 100%;
    }
}